.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.button {
  background-color: #a9db58;
  width: 450px;
  border-radius: 30px;
  margin-top: 20px;
  border: transparent;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: #83a9ee;
}

.form {
  border: 3px solid #fff;
  border-radius: 30px;
  margin: 20px;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.inputs {
  margin: 20px;
  padding: 15px;
  height: 20px;
  width: 400px;
  border-radius: 30px;
  border: transparent;
  color: #3d3d3d;
  font-size: 20px;
}
.a {
  color: #fff;
}
