.Text {
  color: #fff;
  text-align: center;
}
.Text h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.Text h3 {
  font-size: 20px;
  font-weight: 300;
}

.cuadro {
  background-color: #e0e0e0;
  width: 150px;
  margin: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
.cuadro h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
  color: #5e5e5e;
}

.icon {
  font-size: 30px;
  color: #5e5e5e;
}
.cuadro:hover {
  background-color: #fff;
}

.cuadro:hover > h3 {
  color: #000;
}

.cuadro:hover > .icon {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.carousel {
  overflow: hidden;
  width: 100vh;
}

.wrap {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  justify-items: stretch;
  animation: slide 15s linear infinite;
}
.wrap .cuadro {
  width: 200px;
  height: 90px;
  margin: 20px;
  text-align: center;
  object-fit: cover;
  padding: 10px 0 0 0;
}

@keyframes slide {
  to {
    translate: calc(-4 * 250px);
  }
}

@media (max-width: 768px) {
  .Text h1 {
    font-size: 30px;
  }
  .Text h3 {
    font-size: 10px;
  }

  .wrap .cuadro {
    width: 180px;
  }

  .cuadro > h3 {
    font-size: 15px;
  }
}
